#distance-selector {
    width: 185px;
}

[id^="jog_distance"] {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 5px !important;
    display: flex;
    width: 94%;
}

.btnoed {
    width: 43px;
    padding-left: 5px;
    padding-right: 5px;
}
